.mydiv {
      margin-top:200px;
      margin-left: 421px;
      padding:10px;
      border:1px solid #CCC;
      max-width:500px;
}

.divs {
       padding:10px;
       text-align:center;
}

.btn1 {
    background-color: #6fc39a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}
.bdr{
    height:20px;
    background-color:blue;
}
.bdr1{
    height:20px;
    background-color:red;
}
.dbox{

    background-color: red;

}
.cbox{
    border: 3px solid;

}.arow{
    border: 10px solid yellow;
}
.adiv{
    height: 60px;
    background-color: red;
}
.bdiv{
    height:60px;
    background-color: gray;
    }
.cdiv{
    height:60px;
    background-color: chocolate;
}
.ddiv{
    height:60px;
    background-color:green;
}
.ediv{
    height:60px;
    background-color:fuchsia;
}
.fdiv{
    height: 60px;
    background-color: blue;
}
.error
	{
	    color: red;
	    margin-left: 5px;
	}

label.error
	{
	    display: inline;
	}
.margin-top{
	    margin-top: 27px;
         margin-bottom: 70px;
}
.width50{
	    width:50%;
}