<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>auto width</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  <!---this tag is used for interactuive internet explorer-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<div class="container cbox">
    <div class="arow">

    </div>




</div>


<script src="/public/js/jquery.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>