<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta charset="UTF-8">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  <!---this tag is used for interactuive internet explorer-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css"/>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/main.js"></script>
</head>
<body>

<div class="container text-center cbox">
    <h1 class="margin-top">Sign-In</h1>
    <form id="loginForm" method="POST" action="/profile/login">

    <div class="form-group login_box_centre">

        <input type="text" for="username" class="form-control width25" name="username" id="username" placeholder="Username"/>
        <span class="error position_abs" id="usernameError"></span>
    </div>

    <div class="form-group login_box_centre">

        <input type="password" class="form-control width25" id="password" name="password" for="password" placeholder="Password"/>
        <span class="error position_abs" id="passwordError"></span>
    </div>

    <div class="divs">
        <button type="button" class="btn btn-success" id="btn1">Submit</button>
        <a href="/home/registration">Register </a>
    </div>
    </form>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>

    $("#btn1").on("click",function(){

        var username= $("#username").val();
        var password=$("#password").val();

        var flag=true;


        if (username.length<1){
            flag=false;
            $("#usernameError").text(" This is the required field");
        }
        if(password.length<8){
            flag=false;
            $("#passwordError").text(" This is the required field");
        }
        if(flag==true){
        $("#loginForm").submit();
        }

    });




</script>
</html>
