<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>

<div class="mydiv">
    <div class="divs">
        <label>Username</label>
        <input type="text" id="t1"/>
    </div>

    <div class="divs">
        <label>Password</label>
        <input type="password" id="pass">
    </div>

    <div class="divs">
        <button type="submit" class="btn1">submit</button>
        <a href="#">new user</a>
    </div>
</div>
</body>
</html>
