<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css"/>

</head>
<body>
<div class="container">
    <div class="element" id="button">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" id="btn1">Add+</button>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr data-th-each="product,i : ${productList}">
                <td id="a1" data-th-text="${product.id}"></td>
                <td data-th-text="${product.name}"></td>
                <td data-th-text="${product.model}"></td>
                <td data-th-text="${product.price}"></td>
                <td>
                    <button type="submit" class="btn btn-warning" id="edit" data-toggle="modal" data-target="#editModal"
                            onclick="getTableData(this);">Edit
                    </button>

                    <button type="button" class="btn btn-danger" id="delete" data-toggle="modal"
                            onclick="deleteData(this)"
                            data-target="#deleteModal">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title position_abs">Add Details</h6>
                </div>
                <div class="modal-body">
                    <form id="productDetails" method="post" action="/product/add">
                        <div>
                            <input type="text" id="name" class="form-control" name="name" placeholder="Product Name">
                        </div>
                        <div>
                            <input type="text" class="form-control" id="model" name="model"
                                   placeholder="Product Model">
                        </div>
                        <div>
                            <input type="text" class="form-control " id="price" name="price" placeholder="Price">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" id="btn2">Save</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Edit Modal--!-->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title position_abs">Edit Details</h6>
                </div>
                <div class="modal-body">
                    <form id="updateProduct" method="post" action="/product/update">
                        <div>
                            <input type="hidden" class="form-control" id="productId" name="productId">
                        </div>
                        <div>
                            <input type="text" id="productName" class="form-control" name="productName"
                                   placeholder="Product Name">
                        </div>

                        <div>
                            <input type="text" class="form-control" id="productModel" name="productModel"
                                   placeholder="Product Model">
                        </div>
                        <div>
                            <input type="text" class="form-control " id="productPrice" name="productPrice"
                                   placeholder="Price">
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" id="update">update</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!--Delete Confirmation modal-!-->

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title position_abs">Confirm</h6>
                </div>
                <div class="modal-body">
                    <p> Are you sure </p>

                </div>
                <div class="modal-footer">
                    <form id="deleteForm" method="post" action="/product/delete">
                        <input type="hidden" id="deleteId" name="deleteId">
                        <input value="OK" type="submit" class="btn btn-success">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

<script src="/public/js/jquery.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>