<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="element" id="button">
        <button class="btn btn-success" data-target="#myModal" data-toggle="modal" id="btn1" type="button">Add+</button>
        <form id="logoutbutton" method="post" action="/logout" >
        <button class="btn btn-danger"   id="logout" type="submit">logout</button>
        </form>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr data-th-each="product,i : ${productList}">
                <td data-th-text="${product.id}" id="a1"></td>
                <td data-th-text="${product.name}"></td>
                <td data-th-text="${product.model}"></td>
                <td data-th-text="${product.price}"></td>
                <td>
                    <button class="btn btn-warning" data-target="#editModal" data-toggle="modal" id="edit" onclick="getTableData(this);"
                            type="submit">Edit
                    </button>

                    <button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" id="delete"
                            onclick="deleteData(this)"
                            type="button">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h6 class="modal-title position_abs">Add Details</h6>
                </div>
                <div class="modal-body">
                    <form action="/product/add" id="productDetails" method="post">
                        <div>
                            <input class="form-control" id="name" name="name" placeholder="Product Name" type="text">
                        </div>
                        <div>
                            <input class="form-control" id="model" name="model" placeholder="Product Model"
                                   type="text">
                        </div>
                        <div>
                            <input class="form-control " id="price" name="price" placeholder="Price" type="text">
                        </div>
                        <div>
                            <button class="btn btn-success" id="btn2" type="submit">Save</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="submit">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Edit Modal--!-->
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h6 class="modal-title position_abs">Edit Details</h6>
                </div>
                <div class="modal-body">
                    <form action="/product/update" id="updateProduct" method="post">
                        <div>
                            <input class="form-control" id="productId" name="productId" type="hidden">
                        </div>
                        <div>
                            <input class="form-control" id="productName" name="productName" placeholder="Product Name"
                                   type="text">
                        </div>

                        <div>
                            <input class="form-control" id="productModel" name="productModel" placeholder="Product Model"
                                   type="text">
                        </div>
                        <div>
                            <input class="form-control " id="productPrice" name="productPrice" placeholder="Price"
                                   type="text">
                        </div>
                        <div>
                            <button class="btn btn-success" id="update" type="submit">update</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="submit">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!--Delete Confirmation modal-!-->

    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">


            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h6 class="modal-title position_abs">Confirm</h6>
                </div>
                <div class="modal-body">
                    <p> Are you sure </p>

                </div>
                <div class="modal-footer">
                    <form action="/product/delete" id="deleteForm" method="post">
                        <input id="deleteId" name="deleteId" type="hidden">
                        <input class="btn btn-success" type="submit" value="OK">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

<script src="/public/js/jquery.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/bootstrap.min.js"></script>

</body>
</html>