<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css"/>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="element" id="button">
        <button type="add" class="btn btn-success" data-toggle="modal" data-target="#myModal" id="btn1">Add+</button>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Car</td>
                <td>C123</td>
                <td>56k</td>
                <td>
                    <button type="button" id="btn3">Edit</button>
                    <button type="button" id="btn4">Delete</button>


                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title position_abs">Add Details</h6>
                </div>
                <div class="modal-body">
                    <div>
                   <input type="text" id="txt1" class="form-control" placeholder="Product Name">
                    </div>
                    <div>
                        <input type="text" class="form-control" id="txt2" placeholder="Product Model">
                    </div>
                    <div>
                        <input type="text" class="form-control "  id="txt3" placeholder="Price">
                    </div>
                    <div >
                        <button type="submit" class="btn btn-success" id="btn2">Save</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>


</script>
</html>