<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css"/>
</head>
<body>
<div class="container text-center ">
    <div class="alert alert-success" role="alert" id="al1">
        <strong>Well done!</strong> You successfully registered.
    </div>

    <h2 class="margin-top">
        <center>Registration form</center>
    </h2>
    <div class="row">

        <div class="form-group login_box_centre">
            <input type="text" class="form-control width50" id="fn" placeholder="First Name">
            <span class="error position_abs" id="firstName"></span>
        </div>
    </div>
    <div class="row">

        <div class="form-group login_box_centre">
            <input type="text" class="form-control width50" id="ln" placeholder="Last Name">
            <span class="error position_abs" id="lastname"></span>
        </div>
    </div>
    <div class="row">

        <div class="form-group login_box_centre">
            <input type="text" class="form-control width50 " id="un" placeholder="User Name">
            <span class="error position_abs " id="username"></span>
        </div>
    </div>
    <div class="row">

        <div class="form-group login_box_centre">
            <input type="password" class="form-control width50" id="pass" placeholder="Password">
            <span class="error  position_abs" id="password"></span>
        </div>
    </div>
    <div class="row">

        <div class="form-group login_box_centre">
            <input type="password" class="form-control width50" id="pass1" placeholder="Confirm Password">
            <span class="error position_abs" id="passw1"></span>
        </div>
    </div>
    <div class="divs">
        <input type="submit" class="btn btn-success" data-dismiss="alert" id="btn1" value="submit">

    </div>

</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
$("#al1").hide();
});
$("#btn1").on("click",function(){
	var first_name=$("#fn").val();
	var last_name=$("#ln").val();
	var user_name=$("#un").val();
	var password=$("#pass").val();
	var con_passwrd=$("#pass1").val();
	var isValid = true;


		if(first_name.length<1){
			isValid = false;
			$("#firstName").text("This is the required field");
		}else{
		    $("#firstName").remove();
		}

        if(last_name.length<1){
            isValid = false;
            $("#lastname").text("This is the required field");
        }else{
            $("#lastname").remove();
        }

        if(user_name.length<1){
            isValid = false;
            $("#username").text("This is the required field");
        }else{
		    $("#username").remove();
		}
        if(password.length<8){
            isValid = false;
            $("#password").text("Password should be of 8 characters long");
        }else{
            $("#password").remove();
        }


        if(con_passwrd.length==0){
            isValid = false;
            $("#passw1").text("This is the required field");
        }



        if(checkPassword(password)==false){
            $("#password").text("Password should be of 8 characters ");
        }
        if(password!=con_passwrd){
            isValid = false;
            $("#passw1").text("Password does not match");
        }
        else{
            $("#passw1").remove();

        }

        if(isValid == true){
            $("#al1").show();
        }


});

function checkPassword(password){
 //regular expression for password
    var pattern = /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%&]).*$/;
    if(pattern.test(password)){
        return true;
    }else{
        return false;
		}
}









</script>
</html>